# Server Configuration
NODE_ENV=development
PORT=3001

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Gold Price API Configuration
GOLD_PRICE_API_KEY=cfd0ef189253d11c9c6c5e6c56d13d33
GOLD_PRICE_API_URL=http://api.exchangerate.host/live

# Cache Configuration
CACHE_TIMEOUT=300000
